.pk{
    width: 40%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
align-items: center;


     
  
}
.cstm{
    width: 100%;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    width: 100%;
    border: none;
    padding: 5px;
}